# This needs to be a hidden file to be read by make.  Rename with a '.' as the first character.
# PROJECT_NAME needs to be passed into make to properly read this file and generate output.
PROJECT_NAME=example

OSTREE_REPO_PATH="/mnt/redhat/ostree"
OSTREE_REPO_URL=https://webserver.example.home/redhat/ostree/repo

HTTPD_PATH=/mnt/redhat/hosts/microshift

SSH_USER=core
ADMIN_SSH_KEY=id_rsa_admin.pub
USER_SSH_KEY=id_rsa.pub
ADMIN_SSH_PASSWORD="$6$jTlqhkEAIahgvxf0$rJkvatWQFOEa7oCZoSrg0Bb5DInky0prJUP6RkjFBlWfhX4NtbJfAjxuaTynMIRgsrHWukuTAzVgJ.MjK.62j/" # notsecret
USER_SSH_PASSWORD="$6$jTlqhkEAIahgvxf0$rJkvatWQFOEa7oCZoSrg0Bb5DInky0prJUP6RkjFBlWfhX4NtbJfAjxuaTynMIRgsrHWukuTAzVgJ.MjK.62j/" # notsecret
ROOT_SSH_PASSWORD="$6$jTlqhkEAIahgvxf0$rJkvatWQFOEa7oCZoSrg0Bb5DInky0prJUP6RkjFBlWfhX4NtbJfAjxuaTynMIRgsrHWukuTAzVgJ.MjK.62j/" # notsecret


CA_LETS_ENCRYPT_R3=$(shell cat /etc/pki/ca-trust/source/anchors/lets-encrypt-r3.pem | awk 'NF {sub(/\r/, ""); printf "%s\\n",$$0;}')
CA_EXAMPLE=$(shell cat /etc/pki/ca-trust/source/anchors/example.pem | awk 'NF {sub(/\r/, ""); printf "%s\\n",$$0;}')
CA_VSPHERE=$(shell cat /etc/pki/ca-trust/source/anchors/test.0 | awk 'NF {sub(/\r/, ""); printf "%s\\n",$$0;}')
CA_VSPHERE_CRL=$(shell cat /etc/pki/ca-trust/source/anchors/test-crl.r1 | awk 'NF {sub(/\r/, ""); printf "%s\\n",$$0;}')
